@font-face {
    font-family: Georgia;
    src: url(../fontes/georgia.ttf);
 }
 @font-face {
    font-family: Georgiab;
    src: url(../fontes/Georgiab.ttf);
 }
 @font-face {
    font-family: Georgiai;
    src: url(../fontes/georgiai.ttf);
 }
 @font-face {
    font-family: Georgiaz;
    src: url(../fontes/georgiaz.ttf);
 }   
 @font-face {
    font-family: OpenSans-Bold;
    src: url(../fontes/OpenSans-Bold.ttf);
 }

 @font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fontes/OpenSans-BoldItalic.ttf);
 }

 @font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fontes/OpenSans-ExtraBold.ttf);
 }

 @font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../fontes/OpenSans-ExtraBoldItalic.ttf);
 }

 @font-face {
    font-family: OpenSans-Italic;
    src: url(../fontes/OpenSans-Italic.ttf);
 }

 @font-face {
    font-family: OpenSans-Light;
    src: url(../fontes/OpenSans-Light.ttf);
 }

 @font-face {
    font-family: OpenSans-LightItalic;
    src: url(../fontes/OpenSans-LightItalic.ttf);
 }

 @font-face {
    font-family: OpenSans-Regular;
    src: url(../fontes/OpenSans-Regular.ttf);
 }

 @font-face {
    font-family: OpenSans-Semibold;
    src: url(../fontes/OpenSans-Semibold.ttf);
 }

 @font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url(../fontes/OpenSans-SemiboldItalic.ttf);
 }





body{
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

object, img, a {
    outline: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
   display:block; 
}

h1,h2,h3,h4,h5{
    color: inherit;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

/* Topo */
.Barra_Topo{
    background: #2c4b60;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}  
    
    .Barra_Topo_Area{
       display: flex;
       justify-content: space-between; 
       align-items: center;
    }

        .Barra_Topo_Area_Link{
            display: flex;            
            align-items: center;
            justify-content: space-between;
            width: 370px;
            color:#3cd2b7;
            font-family: OpenSans-Bold, sans-serif;
            font-size: 18px;

        }


/* Destaque */
.Destaque_Topo{
    background: #2d3e50;
    padding: 120px 0 80px;
    width: 100%;
    box-sizing: border-box;
}

    .Destaque_Topo_Area{
        text-align: center;
        color: #ffffff;
    }

        .Destaque_Topo_Area img{
            margin: 0 auto;
        }

        .Destaque_Topo_Area h2{
            font-family: OpenSans-Light, sans-serif;
            font-size:28px;
            margin: 40px 0 30px;
        }

            .Destaque_Topo_Area h2 strong{
                font-family: OpenSans-Bold, sans-serif;
            }

        .Destaque_Topo_Area h3{
            font-family: OpenSans-Regular, sans-serif;
            font-size:17px;
        }

        .Destaque_Topo_Area_Tour_Video{
            display: flex;
            justify-content: space-between;
            width: 495px;
            margin: 70px auto 100px;
        }

            .Destaque_Topo_Area_Tour_Video a{
                padding: 27px;
                box-sizing: border-box;
                width: 230px;
                text-align: center;
                border: 3px solid #FFFFFF;
                background: #22303d;
                border-radius: 6px;
                text-transform: uppercase;
                font-size: 16px;
                font-family: OpenSans-Light, sans-serif;

            }

            .Destaque_Topo_Area_Tour_Video a:hover{

                background: #16a086;
                border-color: #16a086
            }
            



/* Smartphone */
.Smartphone{    
    padding: 14px 0 0px;
    width: 100%;
    box-sizing: border-box;
}

    .Smartphone_Area{
        max-width: 850PX;
        margin: 0 auto;
        width: 100%;   
    }

        .Smartphone_Area_Item{
            width: 100%;
            margin: 0 0 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

            .Item_Mock_Up{
                order: 1;
            }

            .Item_Informacoes{
                order: 2;
            }

                .Item_Informacoes h2{
                    font-size: 27px;
                    text-transform: uppercase;
                    font-family: OpenSans-Light, sans-serif;
                    color: #363636;
                    margin: 0 0 20px 0;

                }   

                .Item_Informacoes h3{
                    font-size: 15px;
                    font-family: OpenSans-Regular, sans-serif;
                    color: #8e8e8e;
                    margin: 0 0 15px;
                    
                    
                }

                .Item_Informacoes h4{
                    font-size: 15px;
                    font-family: OpenSans-LightItalic, sans-serif;
                    color: #8a8a8a;
                }

                .Smartphone_Area_Item:nth-child(1) .Item_Mock_Up{
                    order: 2;
                }
                .Smartphone_Area_Item:nth-child(1) .Item_Informacoes{
                    order: 1;
                }



/* Listagem */
.Listagem{
    padding: 14px 0 210px;
    width: 100%;
    box-sizing: border-box;
} 

    .Listagem_Area{
        max-width: 890px;
        margin: 0 auto;
        width: 100%;  
        text-align: center; 
    }

        .Listagem_Area h5{
            font-family: Georgiai, sans-serif;
            color:#8b8b8b;
            font-size: 14px;

        }

        .Listagem_Area h2{
            font-size: 27px;
            text-transform: uppercase;
            font-family: OpenSans-Light, sans-serif;
            color: #363636;
            margin: 5px 0 45px 0;

        }   

        .Listagem_Area_Item_Area{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

            .Listagem_Item{
                width: 240px;
                box-sizing: border-box;
                margin: 0 0 20px 0;
            }

                .Listagem_Item_Imagem{
                    border: 1px solid #e1e1e1;
                    padding: 12px;
                    width: 240px;
                    height: 240px;
                    margin: 0 0 38px 0;
                    background: #e4e8eb;
                    box-shadow: inset 0 0 0 12px #FFFFFF;
                    box-sizing: border-box;
                   
                }

                .Listagem_Item h3{
                    font-size:20px;
                    text-transform: uppercase;
                    font-family: OpenSans-Light, sans-serif;
                    margin: 0 0 15px 0;
                    color: #363636;
                }

                .Listagem_Item h4{
                    font-size:15px;
                    font-family: OpenSans-Italic, sans-serif;
                    margin: 0 0 0px 0;
                    color: #8c8c8c;
                }
            
            .Listagem_Area a img{
                margin: 0 auto;
            }




/* Sign Up */
.Sign_Up{
    padding: 110px 0 50px;
    width: 100%;
    box-sizing: border-box;
    background: #2d3e50;
    
}        

    .Sign_Up_Area{
        max-width: 975px;
        margin: 0 auto;
        width: 100%;  
        text-align: center; 
    }

        .Sign_Up_Area h2{
            font-size: 30px;
            text-transform: uppercase;
            font-family: OpenSans-Light, sans-serif;
            color: #FFF;
            margin: 0 0 15px 0;
        }

        .Sign_Up_Area h3{
            font-size: 19px;
            font-family: OpenSans-Light, sans-serif;
            color: #FFF;
        }

        .Sign_Up_Form{
            margin: 65px auto 0;
            display: flex;
            align-items: center;
            width: 700px;
            flex-wrap: wrap;

        }

            .Sign_Up_Form input{
                height: 70px;
                width: calc(100% - 200px);
                font-size: 15px;
                font-family: OpenSans-Light, sans-serif;
                border: 0;
                box-sizing: border-box;
                background: #FFF;
                color: #363636;
                padding: 10px 10px 10px 60px;
                border-radius: 5px 0 0 5px;
            }

            .Sign_Up_Form button{
                width: 200px;
                background: #16a086;
                color: #FFFFFF;
                height: 70px;
                border: 0;
                box-sizing: border-box;
                border-radius: 0 5px 5px 0;
                font-size: 15px;
                text-transform: uppercase;

            }

            .Sign_Up_Form_Alert{
                width: 100%;
                background: #f26c4f;
                margin: 15px 0 0 0;
                display: flex;
                padding: 7px 0;
                justify-content: center;
                border-radius: 5px;
            }

                .Sign_Up_Form_Alert span{
                    margin: 0 0 0 10px;
                    font-family: Georgiai, sans-serif;
                    color: #FFF;
                    font-size: 14px;
                    
                }


/* Listagem 002 */
.Listagem_002{

}   
/* Menu Rodape */
.Menu_Rodape{

}      

.Center{
    max-width: 1010px;
    margin: 0 auto;
    width: 100%;
}
